<div class="card mycard" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/2.jpeg" alt="Card image cap">
    <div class="card-body">
        <div class="row" style="padding-bottom: 4px;">
            <div class="col-6" style="text-align: left;font-size: 65%;">{{data.category}}</div>
            <div class="col-6" style="text-align: right;font-size: 65%;">{{data.purchaseDate}}</div>
        </div>        
      <h5 class="card-title">{{data.serviceName}}</h5>
      <div class="row">
          <div class="col-9"><p class="card-text">{{data.description}}</p></div>
      </div>
      <div class="row">
          <div class="col-4"><a href="#" class="">Item1</a></div>
          <div class="col-2"></div>
          <div class="col-6" style="text-align: right;"><a href="#" class="">view More</a></div>
      </div> 
      
    </div>
  </div>
