/* .myclass{
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 10%;
        background: #F2F2F2;
        box-shadow: 20px 20px 120px 15px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
} */
.x{
    margin-top: 25px;
    position: absolute;
}