<div class="myclass">
    <div class="row g-3">
        <div class="col-sm-4">
            <label for="">Service Name</label>
          <input type="text" class="form-control" placeholder="Service Name" aria-label="City">
        </div>
        <div class="col-sm">
            <label for="">Purchased Date</label>
          <input type="date" class="form-control" placeholder="Purchased Date" aria-label="State">
        </div>
        <div class="col-sm">
            <label for="">Expiry Date</label>
            <input type="date" class="form-control" placeholder="expiry date" aria-label="State">
          </div>
        <div class="col-sm">
            <label for="">Category</label>
          <input type="text" class="form-control" placeholder="category" aria-label="Zip">
        </div>
        <div class="col-sm">
            <button class="btn btn-dark x">Search</button>
        </div>
      </div>
</div>
    


