<nav class="navbar navbar-light" style="background-color:#453B3E;">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../../assets/1.png" alt=""></a>
      <form class="d-flex">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-sm btn-success" type="submit">Edit Profile</button>
      </form>
    </div>
  </nav>
  <!-- <center>Subscription</center> -->
  <h1 style="text-align: center;line-height: 150px;font-size: 80px;">Subscription </h1>

  <div class="row">
      <div class="col-1"></div>
      <div class="col-10"><app-search-bar (emitData)="onsearch($event)"></app-search-bar></div>
      <div class="col-1"></div>
  </div>
  <br><br><br>
  <div class="container">
    <div class="row row-cols-3" >
      <div id="padd" class="col" *ngFor="let cd of cardData"><app-card  [data]="cd" ></app-card></div>
    </div>
  </div>


    
 